@charset "UTF-8";

/* ==================================== */
/* VARIÁVEIS CSS (:root)                */
/* ==================================== */
:root {
  /* Cores */
  --cor-fundo-principal: rgb(241, 236, 236);
  --cor-texto-padrao: #000;
  --cor-texto-claro: #fff;
  --cor-primaria: rgba(38, 122, 63, 0.842);
  /* Cor principal da marca (ex: botões, cabeçalho) */
  --cor-secundaria: rgba(196, 12, 12, 0.842);
  /* Cor de destaque (ex: preços, alertas) */
  --cor-cinza-claro: #ddd;
  --cor-cinza-medio: #999;
  --cor-cinza-escuro: #666;
  --cor-transicao: #e0e0e0;
  --cor-destaque: #ff6347;
  /* Destaque para o preço novo */

  /* Tipografia */
  --fonte-titulo: 'Poppins', Arial, sans-serif;
  --fonte-texto: 'Roboto', Arial, sans-serif;
  --tamanho-h1: 2rem;
  --tamanho-h2: 1.5rem;
  --tamanho-h3: 1.1em;
  --tamanho-paragrafo: 1rem;
  --tamanho-fonte-pequena: 0.9rem;
  --tamanho-fonte-tiny: 0.85rem;

  /* Espaçamentos e Medidas */
  --espacamento-pequeno: 5px;
  --espacamento-medio: 10px;
  --espacamento-grande: 20px;
  --altura-minima-main: 100vh;
  --altura-header: 260px;
  --altura-footer: 40px;
  --largura-item-menu: 100px;
  --largura-item-produto: 120px;

  /* Sombras e Bordas */
  --sombra-header: 0 4px 15px rgba(0, 0, 0, 0.3);
  --sombra-item: 0 2px 6px rgba(0, 0, 0, 0.15);
  --sombra-item-hover: 0 6px 12px rgba(0, 0, 0, 0.25);
  --sombra-botao-topo: 0 4px 8px rgba(0, 0, 0, 0.2);
  --borda-arredondada: 10px;
  --borda-arredondada-grande: 12px;
}

/* ==================================== */
/* ESTILOS GERAIS                       */
/* ==================================== */

/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--cor-fundo-principal);
  font-family: var(--fonte-texto);
  font-size: var(--tamanho-paragrafo);
  line-height: 1.5em;
  scroll-behavior: smooth;
}

/* TÍTULOS */
h1,
h2,
h3 {
  font-family: var(--fonte-titulo);
  font-weight: 600;
}

h1 {
  font-size: var(--tamanho-h1);
}

h2 {
  font-size: var(--tamanho-h2);
}

p {
  font-size: var(--tamanho-paragrafo);
}

/* ==================================== */
/* LAYOUT PRINCIPAL                     */
/* ==================================== */
main {
  min-height: var(--altura-minima-main);
  width: 100%;
  display: grid;
  grid-template: var(--altura-header) 1fr var(--altura-footer) / 1fr 1fr;
}

/* HEADER */
header {
  grid-area: 1 / 1 / 2 / -1;
  background: url("../img/fundo.png") center/cover no-repeat;
  box-shadow: var(--sombra-header);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: var(--cor-texto-claro);
  text-align: center;
  padding: var(--espacamento-grande);
}

header p {
  background-color: var(--cor-primaria);
  border-radius: var(--borda-arredondada);
  padding: var(--espacamento-pequeno) var(--espacamento-medio);
  margin: var(--espacamento-pequeno) 0;
  font-size: var(--tamanho-fonte-pequena);
}

header>.logo {
  margin-top: var(--espacamento-medio);
  height: 100px;
  width: 100px;
  background: url("../img/loha.avif") center/cover no-repeat;
  border-radius: 50%;
  border: 2px solid var(--cor-texto-claro);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);

  transition: transform 0.3s ease;
}

header>h1 {
  margin: var(--espacamento-medio) 0 var(--espacamento-pequeno) 0;
  font-size: var(--tamanho-h1);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* ASIDE */
aside {
  display: flex;
}

/* SECTION */
section {
  margin-bottom: 30px;
  grid-area: 2 / 1 / 3 / -1;
}

section>h2 {
  text-align: center;
  margin: var(--espacamento-medio);
  padding: var(--espacamento-pequeno);
}

/* MENU CARROSSEL */
.menu-carrossel-swiper {
  margin: var(--espacamento-grande) auto;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 var(--espacamento-medio);
}

.menu-carrossel-swiper .swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--espacamento-medio);
}

.menu-carrossel-swiper .swiper-slide {
  display: flex;
  align-items: center;
  width: var(--largura-item-menu);
  flex-shrink: 0;
}

/* Estilo para cada item do menu */

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--cor-texto-padrao);
  border-radius: var(--borda-arredondada-grande);
  border: 1px solid var(--cor-cinza-claro);
  padding: 8px 4px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  background-color: var(--cor-texto-claro);
}

.menu-item .fa-solid {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 4px;
  color: var(--cor-cinza-escuro);
}

.menu-item span {
  font-size: var(--tamanho-fonte-tiny);
  color: var(--cor-cinza-escuro);
  line-height: 1.2em;
  margin: 4px 0;
  max-height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.menu-item:not(.active):hover {
  background-color: var(--cor-transicao);
  transform: translateY(-1px);
}

.carossel-swiper {
  margin: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--espacamento-medio);

}

.carossel-swiper-container {
  display: flex;
  align-items: center;
  width: var(--largura-item-menu);
  flex-shrink: 0;


}


/* ==================================== */
/* CONTAINER DE ITENS                   */
/* ==================================== */
.container {
  grid-template-columns: 100%;
  gap: var(--espacamento-medio);
  justify-content: center;
  align-content: center;
  padding: var(--espacamento-medio);
  display: grid;
}

.container h2.titulo-secao {
  grid-column: 1 / -1;
  text-align: center;
}

.swiper-slide {
  max-width: 350px;
}

.item {
  padding: var(--espacamento-pequeno);
}

/* ==================================== */
/* ITEM (CARD PRODUTO)                  */
/* ==================================== */
.item {
  margin: 10px;
  display: flex;
  flex-direction: row;
  background: var(--cor-texto-claro);
  border-radius: var(--borda-arredondada);
  padding: var(--espacamento-medio);
  box-shadow: var(--sombra-item);
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: var(--espacamento-pequeno);
}



.item:hover {
  transform: translateY(-3px);
  box-shadow: var(--sombra-item-hover);
}

.item>img {
  width: var(--largura-item-produto);
  height: var(--largura-item-produto);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  object-fit: cover;
  margin-right: 15px;
  transition: transform 0.2s ease;
}

.item>img:hover {
  transform: scale(1.05) rotate(3deg);
}

.item>.info {
  flex: 1;
  font-size: var(--tamanho-paragrafo);
}

.descricao {
  font-size: 0.8rem;
  color: var(--cor-cinza-escuro);
  line-height: 1.3em;
  margin: var(--espacamento-pequeno) 0;
  max-height: 3.9em;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* BOTTOM (PREÇO + BOTÃO) */
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--espacamento-medio);
}

/* Estilos base (para celular) */
.precos {
  display: flex;
  flex-direction: column; /* Preços um embaixo do outro por padrão */
  align-items: flex-start;
}

.preco-antigo {
  color: var(--cor-cinza-medio);
  font-size: var(--tamanho-fonte-pequena);
 
}

.preco-atual {
  color: var(--cor-secundaria);
  font-weight: bold;
  font-size: 1.2em;

}


.btn-carrinho {
  background-color: var(--cor-primaria);
  border: none;
  color: var(--cor-texto-claro);
  padding: var(--espacamento-pequeno) var(--espacamento-medio);
  border-radius: var(--espacamento-pequeno);
  cursor: pointer;
  font-size: var(--tamanho-paragrafo);
  transition: background-color 0.2s ease;
}

.btn-carrinho:hover {
  background-color: #1d6a36;
}

.btn-carrinho i {
  pointer-events: none;
}

/* FOOTER */
footer {
  color: var(--cor-texto-claro);
  grid-area: 3 / 1 / 4 / -1;
  background-color: var(--cor-secundaria);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================================== */
/* NAVEGAÇÃO, PAGINAÇÃO, ETC            */
/* ==================================== */

/* Cada slide será um "card horizontal" */
.swiper-slide.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--cor-texto-claro);
  border-radius: var(--borda-arredondada);
  padding: var(--espacamento-medio);
  box-shadow: var(--sombra-item);
}

/* Imagem do lado esquerdo */
.swiper-slide.item img {
  width: var(--largura-item-produto);
  height: var(--largura-item-produto);
  border-radius: var(--borda-arredondada);
  object-fit: cover;
  margin-right: 15px;
}

/* Texto ocupa o resto do espaço */
.swiper-slide.item .info {
  flex: 1;
}

/* Preço em destaque */
.preco {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--cor-secundaria);
}

.titulo-carrossel {
  font-size: var(--tamanho-h2);
  font-family: var(--fonte-titulo);
  font-weight: 600;
  margin: 15px var(--espacamento-medio);
  color: rgba(196, 12, 12, 0.9);
  text-align: left;
  border-left: 5px solid rgba(196, 12, 12, 0.9);
  padding-left: var(--espacamento-medio);
}

.titulo-secao {
  font-size: 1.6rem;
  font-weight: bold;
  margin: var(--espacamento-grande) 0 var(--espacamento-medio);
  color: var(--cor-secundaria);
  text-align: center;
  cursor: pointer;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--cor-fundo-principal);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-top: 1px solid var(--cor-cinza-claro);
}

.nav-btn {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  position: relative;
}

.nav-btn i {
  font-size: 20px;
  margin-bottom: 2px;
}

.cart-count {
  position: absolute;
  top: 2px;
  right: -5px;
  background: red;
  color: var(--cor-texto-claro);
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container da paginação */
.swiper .swiper-pagination,
.swiper-pagination-menu {
  position: relative;
  margin-top: var(--espacamento-grande);
  margin-bottom: var(--espacamento-medio);
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

/* Bullets padrão */
.swiper .swiper-pagination-bullet,
.swiper-pagination-menu .swiper-pagination-bullet {
  flex: 0 0 40px;
  height: 4px;
  background: var(--cor-transicao);
  border-radius: 4px;
  opacity: 1;
  transition: background 0.3s;
}

/* Bullet ativo */
.swiper .swiper-pagination-bullet-active,
.swiper-pagination-menu .swiper-pagination-bullet-active {
  background: var(--cor-texto-padrao);
}

/* Botão para voltar ao topo */
.back-to-top {
  position: fixed;
  bottom: 110px;
  right: var(--espacamento-grande);
  background-color: var(--cor-secundaria);
  color: var(--cor-texto-claro);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: var(--sombra-botao-topo);
  z-index: 999;
  transition: opacity 0.3s, visibility 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estado padrão: botão invisível */
.back-to-top.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Estado visível */
.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.secao-separador {
  background-color: #f0f0f0;
  padding: var(--espacamento-medio) var(--espacamento-grande);
  text-align: center;
  margin-top: var(--espacamento-medio);
}

.secao-separador h3 {
  font-size: var(--tamanho-h3);
  text-transform: uppercase;
  font-family: var(--fonte-titulo);
  font-weight: 600;
  margin: 15px var(--espacamento-medio);
  color: var(--cor-secundaria);
  text-align: left;
  border-left: 5px solid var(--cor-secundaria);
  padding-left: var(--espacamento-medio);
}

.promocao-destaque {
  border: 2px solid var(--cor-destaque);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.promocao-destaque .preco-antigo {
  color: #888;
  text-decoration: line-through;
}

.promocao-destaque .preco-atual {
  color: var(--cor-destaque);
  font-weight: bold;
}

.destaque {
  position: relative;
  /* Essencial para posicionar a estrela */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.destaque::before {
  content: '\2B50';
  /* O emoji de estrela. Você pode usar um ícone SVG se preferir */
  position: absolute;
  top: -1px;
  /* Ajuste a posição para o topo */
  right: -13px;
  /* Ajuste a posição para o canto direito */
  font-size: 25px;
  /* Tamanho da estrela */
  z-index: 10;
  animation: brilho 1.5s infinite alternate;
  /* Adiciona uma animação para brilhar */
}

@keyframes brilho {
  from {
    transform: scale(1);
    opacity: 0.8;
  }

  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

/* ==================================== */
/* RESPONSIVIDADE                       */
/* ==================================== */
@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-carrossel-swiper .swiper-wrapper {
    justify-content: center;
  }
  .precos {
    flex-direction: row; 
    align-items: center;
  }

  .preco-antigo {
    margin-right: 8px;
  }

  .preco-atual {
    margin-right: 40px; 
  }
}

@media (min-width: 900px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-carrossel-swiper {
    padding: 0 var(--espacamento-grande);
  }

  .menu-carrossel-swiper .swiper-wrapper {
    justify-content: space-between;
    padding: 0;
  }

  .swiper-slide {
    max-width: 500px;

  }

  .item {
    padding: var(--espacamento-pequeno);
  }

}